main {
  display: flex;
}
main > aside,
main > div {
  height: 84vh;
}
main > aside {
  width: 20.09vw;
  border-right: 1px solid #1e2d3d;
}
main > aside > .items-heading {
  color: white;
  border-bottom: 1px solid #1e2d3d;
  height: 8%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.my-dropdown,
.my-dropdown-q {
  cursor: pointer;
}
.my-dropdown-q:hover,
.file-component:hover {
  background-color: #051f30;
}
.my-dropdown > .fa-solid,
.my-dropdown-q > .fa-solid {
  transition: all 0.4s;
}
ul.items {
  display: none;
  padding-left: 0.3rem;
}
.folder-1 {
  color: #e99287;
}
.folder-2 {
  color: #43d9ad;
}
.folder-3 {
  color: #3a49a4;
}
.file-component {
  cursor: pointer;
}

main > .center {
  width: 40vw;
  border-right: 1px solid #1e2d3d;
}
main > .center > .topbar {
  border-bottom: 1px solid #1e2d3d;
  height: 8%;
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.asideTrigger {
  display: none;
}
main > .center > .topbar::-webkit-scrollbar {
  display: none;
}
main > .center > .topbar > .file-name {
  height: 100%;
  border-right: 1px solid #1e2d3d;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > .center > .code-container {
  display: flex;
  overflow: auto;
  font-size: 14px;
  height: 90%;
  padding-top: 1rem;
}
main > .center > .code-container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
main > .center > .code-container::-webkit-scrollbar-track {
  background-color: #1e2d3d;
}
main > .center > .code-container::-webkit-scrollbar-thumb {
  background-color: #051f30;
  border-radius: 5px;
}
main > .center > .code-container {
  scrollbar-color: #051f30 #1e2d3d;
  scrollbar-width: thin;
}

main > .center > .code-container > div {
  white-space: pre-wrap;
}
main > .center > .code-container > .line-numbers {
  text-align: right;
  user-select: none;
  padding-right: 10px;
}
main > .center > .code-container > .code-text {
  overflow-wrap: break-word;
  padding-left: 10px;
}

main > .right {
  width: 40vw;
}

main > .right > .topbar {
  border-bottom: 1px solid #1e2d3d;
  height: 8%;
}
main > .right > .container {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

main > .right > .container > .cards {
  width: 90%;
  max-height: 150px;
  background-color: #011221;
  border-radius: 10px;
  border: 1px solid #1e2d3d;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  transition: all 1s;
}
main > .right > .container > .cards.active {
  padding: 2rem 0 2rem 0;
}
main > .right > .container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
main > .right > .container::-webkit-scrollbar-track {
  background-color: #1e2d3d;
}
main > .right > .container::-webkit-scrollbar-thumb {
  background-color: #051f30;
  border-radius: 5px;
}
/* ================== RESPONSIVE ================= */

/* Extra large devices (desktops, 1367px and up) */
@media (min-width: 1367px) {
  /* Styles for extra large devices */
}
/* Large devices (15-inch desktop, 1024px to 1366px) */
@media (min-width: 1024px) and (max-width: 1366px) {
  /* Styles for large devices */
}

/* Medium devices (tablets, 768px to 1023.98px) */
@media (min-width: 768px) and (max-width: 1023.98px) {
  aside > .items > ul > li {
    font-size: 0.5rem;
  }
}
/* Small devices (tablets, 480px to 767.98px) */
@media (min-width: 480px) and (max-width: 767.98px) {
  aside {
    display: none;
    position: fixed;
    top: 8vh;
    left: 0;
    background-color: #011221;
    width: 50vw !important;
    height: 84vh !important;
    z-index: 100;
  }
  aside > .fa-xmark {
    position: absolute;
    top: 2%;
    right: 3%;
  }
  .asideTrigger {
    display: block;
    color: white;
  }
  main > .center {
    width: 50vw;
    font-size: 0.7rem;
  }
  main > .right {
    width: 50vw;
  }
  main > .right > .container > .cards {
    font-size: 0.6rem;
  }
}

/* Extra small devices (phones, less than 480px) */
@media (max-width: 479.98px) {
  aside {
    display: none;
    position: fixed;
    top: 8vh;
    left: 0;
    background-color: #011221;
    width: 50vw !important;
    height: 84vh !important;
    z-index: 100;
  }
  aside > .fa-xmark {
    position: absolute;
    top: 2%;
    right: 3%;
  }
  .asideTrigger {
    display: block;
    color: white;
  }
  main {
    display: block;
    height: 84vh !important;
    overflow: auto;
  }
  main > .center {
    width: 100%;
  }
  main > .right {
  width: 100%;
}
}
